.page {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  min-width: 1280px;
  background-color: #2A2C2F;
}

@media screen and (max-width: 1300px) {
  .page {
    min-width: 1024px;
  }
}

@media screen and (max-width: 1050px) {
  .page {
    min-width: 768px;
  }
}

@media screen and (max-width: 790px) {
  .page {
    min-width: 425px;
  }
}

@media screen and (max-width: 470px) {
  .page {
    min-width: 320px;
  }
}
