@media screen and (max-width: 1279px) {
  .page {
    min-width: 1024px;
  }

  .header {
    max-width: 928px;
  }

  .lead {
    max-width: 928px;
    margin: 48px auto 0;
  }

  .lead__subtitle {
    margin: 0 0 56px 0;
  }

  .intro {
    max-width: 928px;
  }

  .photo-grid {
    max-width: 928px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
  }

  .places {
    max-width: 928px;
  }

  .place {
    gap: 48px 32px;
  }

  .place__title {
    max-width: 440px;
  }

  .place__image {
    max-width: 440px;
  }

  .cover {
    max-width: 1024px;
  }

  .cover__background {
    height: 640px;
  }

  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .page {
    min-width: 768px;
  }

  .header {
    max-width: calc(928px - 208px);
  }

  .lead {
    max-width: calc(928px - 160px);
  }

  .intro {
    max-width: calc(928px - 208px);
  }

  .intro__article {
    max-width: 720px;
    margin-top: 88px;
  }

  .photo-grid {
    max-width: calc(928px - 208px);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
    margin: 88px auto 0;
  }

  .places {
    max-width: calc(928px - 208px);
    margin: 88px auto 0;
    gap: 72px;
  }

  .place {
    gap: 48px 28px;
  }

  .place__title {
    font-size: 42px;
    line-height: 46px;
    max-width: 340px;
  }

  .place__image {
    max-width: 340px;
    min-width: 340px;
  }

  .place__paragraph {
    font-size: 16px;
    margin: 0 0 25px 0;
  }

  .cover {
    max-width: calc(1024px - 256px);
    margin: 90px auto 88px;
  }

  .cover__title {
    min-width: 560px;
  }

  .cover__background {
    height: 480px;
  }

  .footer {
    max-width: calc(928px - 208px);
  }
}

@media screen and (max-width: 767px) {
  .page {
    min-width: 425px;
  }

  .header {
    max-width: 373px;
  }

  .lead {
    max-width: 425px;
  }

  .lead__title {
    font-size: 48px;
    line-height: 52px;
    max-width: 373px;
    margin: 0 0 20px 0;
  }

  .lead__subtitle {
    font-size: 18px;
    line-height: 24px;
    max-width: 373px;
    margin: 0 0 48px 0;
  }

  .lead__caption {
    margin: 8px 0 0 26px;
  }

  .intro {
    max-width: 373px;
  }

  .intro__article {
    margin-top: 72px;
  }

  .intro__title {
    font-size: 38px;
    line-height: 40px;
  }

  .photo-grid {
    max-width: 373px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    gap: 12px;
    margin: 72px auto 0;
  }

  .places {
    max-width: 425px;
    margin: 72px auto 0;
    gap: 60px;
  }

  .place {
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "title"
      "website"
      "image"
      "description";
    gap: 36px;
  }

  .place__title {
    font-size: 38px;
    line-height: 40px;
    max-width: 373px;
    margin-left: 26px;
  }

  .place__image {
    max-width: 425px;
    min-width: 425px;
  }

  .place__paragraph {
    max-width: 373px;
    margin: 0 auto 25px auto;
  }

  .place__paragraph:last-child {
    margin: 0 auto 0 auto;
  }

  .place__website {
    margin-left: 26px;
  }

  .cover {
    max-width: 425px;
    margin: 72px auto 70px;
  }

  .cover__title {
    min-width: 373px;
    font-size: 48px;
    line-height: 52px;
  }

  .cover__subtitle {
    min-width: 373px;
    font-size: 16px;
    line-height: 18px;
  }

  .cover__background {
    height: 250px;
  }

  .footer {
    flex-direction: column;
    max-width: 373px;
  }

  .footer__links {
    flex-direction: column;
    gap: 32px;
  }

  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }

  .footer__copyright {
    margin: 48px 0 0 0;
    line-height: 14px;
  }
}

@media screen and (max-width: 424px) {
  .page {
    min-width: 320px;
  }

  .header {
    max-width: 288px;
  }

  .header__logo {
    width: 142px;
    height: 42px;
    margin: 16px 0 0 0;
  }

  .header__lang-links {
    margin: 30px 0 0 0;
  }

  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }

  .lead {
    max-width: 320px;
  }

  .lead__title {
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
    margin: 0 0 16px 0;
  }

  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
    margin: 0 0 40px 0;
  }

  .lead__caption {
    margin: 8px 0 0 16px;
  }

  .intro {
    max-width: 288px;
  }

  .intro__article {
    margin-top: 64px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }

  .intro__text {
    margin: 40px 0 34px 0;
  }

  .photo-grid {
    max-width: 288px;
    margin: 64px auto 0;
  }

  .places {
    max-width: 320px;
    margin: 64px auto 0;
    gap: 50px;
  }

  .place {
    gap: 32px;
  }

  .place__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
    margin-left: 16px;
  }

  .place__image {
    max-width: 320px;
    min-width: 320px;
  }

  .place__paragraph {
    max-width: 288px;
    line-height: 26px;
  }

  .place__website {
    margin-left: 16px;
  }

  .cover {
    max-width: 320px;
    margin: 66px auto 64px;
  }

  .cover__title {
    min-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }

  .cover__subtitle {
    min-width: 288px;
    font-size: 14px;
    line-height: 16px;
    margin: 16px 0 0 0;
  }

  .cover__background {
    height: 200px;
  }

  .footer {
    max-width: 288px;
  }
}
